<%= form_for(cliente) do |f| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_cliente %>
    <%= f.text_field :nome_cliente %>
  </div>

  <div class="field">
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label :endereco_id %>
    <%= f.text_field :endereco_id %>
  </div>

  <div class="field">
    <%= f.label :data_exclusao %>
    <%= f.datetime_select :data_exclusao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
