<p id="notice"><%= notice %></p>

<p>
  <strong>Nome cliente:</strong>
  <%= @cliente.nome_cliente %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Data exclusao:</strong>
  <%= @cliente.data_exclusao %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
