<p id="notice"><%= notice %></p>

<p>
  <strong>Numr codigo:</strong>
  <%= @codcliente.numr_codigo %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @codcliente.empresa %>
</p>

<%= link_to 'Edit', edit_codcliente_path(@codcliente) %> |
<%= link_to 'Back', codclientes_path %>
