<%= form_for(categoriafinaceiro) do |f| %>
  <% if categoriafinaceiro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categoriafinaceiro.errors.count, "error") %> prohibited this categoriafinaceiro from being saved:</h2>

      <ul>
      <% categoriafinaceiro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="row">
     <div class="col-md-6">
         <div class="form-group">
           <label>Categoria</label>
           <%= f.select :father_id, options_from_collection_for_select(Categoriafinaceiro.where(empresa_id: current_user.empresa_id), 'id', 'nome_categoria',@sivic_categoriaPai),{:include_blank => true}, {:class => "form-control"}%>
        </div>
      </div>
   </div>

  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
        <%= f.label :nome_categoria %>
        <%= f.text_field :nome_categoria, :class => "form-control" %>
      </div>
     </div>
  </div>

</div><!-- /.box-body -->
</div><!-- /.box -->

<%= f.hidden_field :empresa_id, :value=> current_user.empresa_id%>

<div class="row mar-bot40">
<div class="col-lg-8" >
   <div class="btn-group">
     <button type="submit" value="Submit" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
     </button>
     <%= link_to categoriafinaceiros_path, :class => "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-arrow-left"></span> Voltar
      <% end %>
    </div>
  </div>
</div>
<% end %>
