<p id="notice"><%= notice %></p>

<p>
  <strong>Nome categoria:</strong>
  <%= @categoriafinaceiro.nome_categoria %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @categoriafinaceiro.empresa %>
</p>

<%= link_to 'Edit', edit_categoriafinaceiro_path(@categoriafinaceiro) %> |
<%= link_to 'Back', categoriafinaceiros_path %>
