<p id="notice"><%= notice %></p>

<p>
  <strong>Nome unidade:</strong>
  <%= @unidademedida.nome_unidade %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @unidademedida.empresa %>
</p>

<%= link_to 'Edit', edit_unidademedida_path(@unidademedida) %> |
<%= link_to 'Back', unidademedidas_path %>
