<section class="content">

  <%if notice %>
       <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         <%= notice %>
       </div>
    <%end%>
<!-- <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
                <div class="col-lg-6">
                  <%#= link_to new_caixa_path, class: "btn btn-primary" do %>
                         <span class="glyphicon glyphicon-plus"></span> Abrir Caixa
                  <%# end %>
                </div>
          </div
      </div>
</div> -->

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Caixas</h3>
     </div><!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
  <thead>
    <tr>
      <th>Data Abertura</th>
      <th>Data Fechamento</th>
      <th>Valor Caixa</th>
    </tr>
  </thead>

  <tbody>
        <% @caixas.each do |caixa| %>
      <tr>
        <td><%= caixa.data_abertura.blank? ? '' : caixa.data_abertura.strftime("%d/%m/%Y")%></td>
        <td><%= caixa.data_fechamento.blank? ? '' : caixa.data_fechamento.strftime("%d/%m/%Y") %></td>
        <td><%= number_to_currency(caixa.valr_caixa , unit: "", separator: ",", delimiter: "") %></td>
        <%if caixa.data_fechamento.blank?%>
            <td align='right'>
              <button type="button"  name="button" class="btn btn-default btn-sm" data-toggle="tooltip" onclick="modalCaixa(<%=caixa.id%>)" data-placement="left">
                <span class="glyphicon glyphicon-ban-circle"></span> Fechar Caixa
              </button>
            </td>
             <%else%>
             <td align='right'>
                Fechado
              </td>
            <%end%>

    </tr>
  <% end %>
</tbody>
</table>
</div>
</div><!-- /.box -->

</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Caixa</h4>
      </div>
      <div class="modal-body">
      <input type="hidden" id="caixa_id">
        <p>Deseja realmente fechar o caixa.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="fecharCaixa()">Sim</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">

function modalCaixa(id) {
  $('#caixa_id').val(id);
  console.log(id);
  $('#myModal').modal('show');
}

//fechar caixa
function fecharCaixa() {
  $.ajax({
    url: '/fecharCaixa',
    data : {
      id: $('#caixa_id').val()
    },
     success: function(data){
       location.reload();
    }
  })
}



</script>
