<p id="notice"><%= notice %></p>

<p>
  <strong>Numr contador:</strong>
  <%= @codvenda.numr_contador %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @codvenda.empresa %>
</p>

<%= link_to 'Edit', edit_codvenda_path(@codvenda) %> |
<%= link_to 'Back', codvendas_path %>
