<p id="notice"><%= notice %></p>

<h1>Contabanks</h1>

<table>
  <thead>
    <tr>
      <th>Nome banco</th>
      <th>Nome conta</th>
      <th>Numr agencia</th>
      <th>Numr conta</th>
      <th>Empresa</th>
      <th>Data exclusao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contabanks.each do |contabank| %>
      <tr>
        <td><%= contabank.nome_banco %></td>
        <td><%= contabank.nome_conta %></td>
        <td><%= contabank.numr_agencia %></td>
        <td><%= contabank.numr_conta %></td>
        <td><%= contabank.empresa %></td>
        <td><%= contabank.data_exclusao %></td>
        <td><%= link_to 'Show', contabank %></td>
        <td><%= link_to 'Edit', edit_contabank_path(contabank) %></td>
        <td><%= link_to 'Destroy', contabank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contabank', new_contabank_path %>
