<%= form_for(formapagamento) do |f| %>
  <% if formapagamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formapagamento.errors.count, "error") %> prohibited this formapagamento from being saved:</h2>

      <ul>
      <% formapagamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_formapagamento %>
    <%= f.text_field :nome_formapagamento %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
