<%= form_for(empresa) do |f| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_empresa %>
    <%= f.text_field :nome_empresa %>
  </div>

  <div class="field">
    <%= f.label :endereco_id %>
    <%= f.text_field :endereco_id %>
  </div>

  <div class="field">
    <%= f.label :categoriaempresa_id %>
    <%= f.text_field :categoriaempresa_id %>
  </div>

  <div class="field">
    <%= f.label :cnpj %>
    <%= f.text_field :cnpj %>
  </div>

  <div class="field">
    <%= f.label :nome_responsavel %>
    <%= f.text_field :nome_responsavel %>
  </div>

  <div class="field">
    <%= f.label :telefone1 %>
    <%= f.text_field :telefone1 %>
  </div>

  <div class="field">
    <%= f.label :telefone2 %>
    <%= f.text_field :telefone2 %>
  </div>

  <div class="field">
    <%= f.label :conta %>
    <%= f.text_field :contabank_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
